[submodule "u-boot-xlnx"]
	path = u-boot-xlnx
	url = git@github.com:tocisz/u-boot-xlnx.git
	branch = ebaz4205
[submodule "buildroot"]
	path = buildroot
	url = git@github.com:tocisz/buildroot.git
	branch = ebaz4205
[submodule "hdl"]
	path = hdl
	url = git@github.com:tocisz/analogdevicesinc-hdl.git
	branch = ebaz4205
[submodule "linux"]
	path = linux
	url = git@github.com:tocisz/analogdevicesinc-linux.git
	branch = ebaz4205
